
.yum-answer-title {
    font-weight: bold;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.yum-answer-list {
    display: flex;
    justify-content: space-between;
}

#answer20 {
    margin-bottom: 20px;
}