body{
    display: flex;
    justify-content: center;
}
.yum-navbar {
    background-color: #ededed;
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.yum-navbar-sub1{
    display: flex;
    gap: 5px;
}
.yum-navbar-btn {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 16px;
    padding: 5px 10px 8px;
    font-size: 14px;
    cursor: pointer;
}

.yum-navbar-sub2 {
    font-weight: bold;
}

button.active {
    background-color: #486cea;
    color: #fff;
    font-weight: bold;
}

.yum-navbar-btn:hover{
    background-color: #d7d7d7;
}

.yum-navbar-sub2:hover{
    text-decoration: underline;
}

